@import 'vars';
@import 'global';

// Fable

.footer {
  background: $gray-1;
  color: $gray-2;
  padding: 20px;
}

.album {
  text-align: center;
}

.albums {
  padding-bottom: 40px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.modal {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  text-align: center;
  transition: opacity $timer $ease;
  top: 0;
  width: 100%;
  z-index: 2;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    margin: 0 -6px 0 0;
    vertical-align: middle;
    width: 1px;
  }

  &__close {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    height: 32px;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 32px;

    &::before,
    &::after {
      content: '';
      background: $gray-3;
      height: 33px;
      left: 15px;
      position: absolute;
      top: 0;
      width: 2px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__content {
    background: $white;
    display: inline-block;
    max-width: 580px;
    padding: 55px 20px 30px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    z-index: 2;
  }
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  transition: opacity $timer $ease;
  top: 0;
  width: 100%;
  z-index: 1;
}

.fade {
  opacity: 0;
}

@media screen and (max-width: 767px) {

  h1 {
    font-size: 60px;
  }

  .album {
    width: 100%;

    &__content {
      margin: 0 auto;
      max-width: 400px;
    }
  }

  .albums {
    grid-template-columns: 1fr;
  }
}