@import 'vars';

// Fable

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  color: $green;
  font-size: 80px;
}

.main {
  max-width: 1200px;
}

img {
  width: 100%;
  height: auto;
}

.footer {
  background: $gray-1;
  color: $gray-2;
}